
.blok, .bloks {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	display: block;
	overflow: hidden;
}

a.bloks {
	padding: 35px;
}

/*Small*/
@media only screen {
	.sml {}
	.sml-1 {
	    height: 90px;
	}
	.sml-2 {
	    height: 190px;
	}
	.sml-3 {
	    height: 290px;
	}
	.sml-4 {
	    height: 390px;
	}
	.sml-5 {
	    height: 490px;
	}
	.sml-6 {
	    height: 590px;
	}
	.sml-7 {
	    height: 690px;
	}
	.sml-8 {
	    height: 790px;
	}
	.sml-9 {
	    height: 890px;
	}
	.sml-10 {
	    height: 990px;
	}
	.sml-11 {
	    height: 1090px;
	}
	.sml-12 {
	    height: 1190px;
	}
}

/*Medium*/
@media only screen and (min-width: 40.063em) {
	.med {}
	.med-1 {
	    height: 90px;
	}
	.med-2 {
	    height: 190px;
	}
	.med-3 {
	    height: 290px;
	}
	.med-4 {
	    height: 390px;
	}
	.med-5 {
	    height: 490px;
	}
	.med-6 {
	    height: 590px;
	}
	.med-7 {
	    height: 690px;
	}
	.med-8 {
	    height: 790px;
	}
	.med-9 {
	    height: 890px;
	}
	.med-10 {
	    height: 990px;
	}
	.med-11 {
	    height: 1090px;
	}
	.med-12 {
	    height: 1190px;
	}
}


/*Large*/
@media only screen and (min-width: 64.063em) {
	.lg {}
	.lg-1 {
	    height: 90px;
	}
	.lg-2 {
	    height: 190px;
	}
	.lg-3 {
	    height: 290px;
	}
	.lg-4 {
	    height: 390px;
	}
	.lg-5 {
	    height: 490px;
	}
	.lg-6 {
	    height: 590px;
	}
	.lg-7 {
	    height: 690px;
	}
	.lg-8 {
	    height: 790px;
	}
	.lg-9 {
	    height: 890px;
	}
	.lg-10 {
	    height: 990px;
	}
	.lg-11 {
	    height: 1090px;
	}
	.lg-12 {
	    height: 1190px;
	}
}




